# USING DEV CLOUD BACKEND
EXPO_PUBLIC_SUPABASE_URL=https://letoghfwotjbrzwgocpc.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gSNUcuB5IoOcCcfq-MrmOQ_c6GMBfcw
EXPO_PUBLIC_POWERSYNC_URL=https://6953034930605f245ffdaf90.powersync.journeyapps.com

# USING SELF-HOSTED BACKEND
# EXPO_PUBLIC_SUPABASE_URL=https://letoghfwotjbrzwgocpc.supabase.co
# EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gSNUcuB5IoOcCcfq-MrmOQ_c6GMBfcw
# EXPO_PUBLIC_POWERSYNC_URL=https://6953034930605f245ffdaf90.powersync.journeyapps.com

# USING PRODUCTION CLOUD BACKEND
# EXPO_PUBLIC_SUPABASE_URL=https://letoghfwotjbrzwgocpc.supabase.co
# EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gSNUcuB5IoOcCcfq-MrmOQ_c6GMBfcw
# EXPO_PUBLIC_POWERSYNC_URL=https://6953034930605f245ffdaf90.powersync.journeyapps.com